DerivedData/
working_resources/
TextureExtractorV2.xcodeproj/project.xcworkspace/
TextureExtractorV2.xcodeproj/xcuserdata/danillazin.xcuserdatad/xcdebugger/
TextureExtractorV2/TEv2
cmakeBuild/
bin_Cmake/